################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
CMakeLists.txt
cmake-build-debug/
.idea/
