################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/CS131_CPP/v16/.suo
/.vs/VSWorkspaceState.json
/.idea/*
/cmake-build-debug/*
/CMakeLists.txt
